/* Cristhian Sotelo-Plaza
   ID 30004060
   SENG513 B03 WINTER 2019
   Assignment 3 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: silver;
}

#main {
  height: calc(100vh - 20px);
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to top right, #0F2027, #2C5364);
}

#userColor, #username {
  display: none;
}

#topline {
  display: flex;
  flex-flow: row;
}

#firstlabel, #seclabel, #thirdlabel, #fourthlabel {
  font-size: 18px;
  color: silver;
  padding-top: 1em;
  padding-left: 1em;
  text-align: left;
}

#firstlabel, #seclabel {
  display: none;
}

#displays, #controls {
  text-align: left;
  font-size: 18px;
  width: 100%;
}

#displays {
  display: flex;
  flex-flow: column;
}

#controls {
  display: flex;
  flex-flow: row;
}


#msgwindow, #userswindow, #userinput, #send {
  margin: 1em;
}

#msgwindow, #userswindow {
  background-color: white;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#msgwindow, #firstlabel, #userswindow, #thirdlabel {
  width: 92%;
}

#msgwindow {
  height: calc(50vh);
  order: 3;
}

#fourthlabel {
  order: 2;
  padding-top: 0;
}

#userswindow {
  height: calc(20vh);
  order: 1;
}

#messages, #userlist {
  padding-left: 0.5em;
  list-style-type: none;
  margin-top: auto;
}

#userinput {
  width: 80%;
  font-size: 18px;
}

button {
  width: 15%;
  border-radius: 10px;
  color: silver;
  background-color: #A43931;
  font-size: 20px;
}


@media (min-width: 640px) {
  #main {
    max-width: 800px;
  }

  #displays, #controls {
    display: flex;
    flex-flow: row;
  }

  #msgwindow, #userswindow {
    height: calc(80vh - 20px);
  }

  #msgwindow, #firstlabel {
    width: 70%;
  }

  #userswindow, #seclabel {
    width: 25%;
  }

  #msgwindow {
    order: 1;
  }

  #userswindow {
    order: 2;
  }

  #firstlabel, #seclabel {
    display: block;
  }

  #thirdlabel, #fourthlabel {
    display: none;
  }
}
